.appkit-SplitLayoutPanel {
    width: 100%;
    height: 100%;
}

.appkit-SplitLayoutPanel-VDragger,
.appkit-SplitLayoutPanel-HDragger {

    border: 1px solid #bbb;
    box-sizing: border-box;
    background: #f7f7f7;

}

.appkit-SplitLayoutPanel-HDragger {
    cursor: ew-resize;

}

.appkit-SplitLayoutPanel-VDragger {
    cursor: ns-resize;

}

.appkit-SplitLayoutPanel-HDragger.appkit-Splitlayout-east-panel {

    border-top-width: 0;
    border-bottom-width: 0;

}

.appkit-SplitLayoutPanel-HDragger.appkit-Splitlayout-west-panel {
    border-top-width: 0;
    border-bottom-width: 0;
}

.appkit-SplitLayoutPanel-VDragger.appkit-Splitlayout-north-panel {
    border-left-width: 0;
    border-right-width: 0;
}

@sprite .appkit-Splitlayout-horizontal-handle {
    gwt-image: "splitVerticalHandleImage";
    other: property;
}

@sprite .appkit-Splitlayout-vertical-handle {
    gwt-image: "splitHorizontalHandleImage";
    other: property;
}

.appkit-Splitlayout-vertical-handle {
    width: 100%;
    height: 100%;
    background-color: none;
    background-position: center;
}

.appkit-Splitlayout-horizontal-handle {
    width: 100%;
    height: 100%;
    background-color: none;
    background-position: center;

}

.appkit-SplitLayoutPanel-VDragger.appkit-Splitlayout-south-panel {
    border-left-width: 0;
    border-right-width: 0;

}