
.appkit-Menu {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 7px 0 7px 1px;
    z-index: 2000;
    min-width: 10px;
    outline: none;
    height: auto;
    width: auto;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fafafa;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    outline: none !important;
}

@external .appkit-menubar-menu;

.appkit-Menu.appkit-menubar-menu {
    border-radius: 0 0 4px 4px;
}






