@def window_color #eaeaea;
@def border_color transparent;
@def window_button_hover_color #d8d8d8;
@def window_button_active_color #bbb;

.appkit-Window-panel {

    width: 120px;
    height: 120px;
    border: 1px border_color solid;
    border-top: none;
    border-radius: 5px 5px 0 0;
    position: absolute !important;
    left: 0;
    top: 0;
    z-index: 1001;
    background-color: window_color;
    padding: 0;
    outline: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);
}

.appkit-Window-panel-title {

    padding: 0;
    position: relative;
    min-height: 30px;

}

.appkit-Window-panel-title.draggable {
    cursor: move;
}

.appkit-Window-panel .appkit-Window-panel-title-text {
    font-size: 14px;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 6px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.appkit-Window-panel-button-pane {
    float: right;
    margin-right: 5px;
}

.appkit-Window-panel-restore,
.appkit-Window-panel-min,
.appkit-Window-panel-max,
.appkit-Window-panel-close {
    background-color: #c75050;
    color: #ffffff;
    position: relative;
    float: right;
    display: block;
    width: 48px;
    height: 24px;
    min-height: 24px;
    margin: 0px 1px 0px 1px;
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding: 0px 0 10px 0;
    z-index: 3;
    cursor: pointer;
    box-sizing: border-box;

}

.appkit-Window-panel-restore:focus,
.appkit-Window-panel-min:focus,
.appkit-Window-panel-max:focus,
.appkit-Window-panel-close:focus {
    outline: 2px solid #faca0e;
}

.appkit-Window-panel-restore,
.appkit-Window-panel-min,
.appkit-Window-panel-max {
    background-color: transparent;
    color: #000;
    width: 26px;
    padding-bottom: 10px;
    font-weight: bold;
}

.appkit-Window-panel-restore:before,
.appkit-Window-panel-restore:after,
.appkit-Window-panel-min:after,
.appkit-Window-panel-max:after {
    position: absolute;
    display: block;
    width: 12px;
    height: 10px;
    border: 0px #111 solid;
    border-bottom-width: 2px;
    content: ' ';
    bottom: 6px;
    left: 50%;
    margin-left: -7px;
    top: auto;
}

.appkit-Window-panel-max:after {
    height: 8px;
    border: 1px #111 solid;
    border-top-width: 2px;

}

.appkit-Window-panel-restore:before {
    height: 6px;
    width: 8px;
    border: 1px #111 solid;
    border-top-width: 2px;
    bottom: 9px;
    margin-left: -4px;
}

.appkit-Window-panel-restore:after {
    height: 6px;
    width: 8px;
    border: 1px #111 solid;
    border-top-width: 2px;
    bottom: 6px;
    background: window_color;

}

.appkit-Window-panel-restore.appkit-state-hover:after {
    background: window_button_hover_color;

}

.appkit-Window-panel-restore.appkit-state-active:after {
    background-color: window_button_active_color !important;

}

.appkit-Window-panel-min:after {
    margin-left: -6px;
}

.appkit-Window-panel-close.appkit-state-hover {
    background-color: #e04343;
}

.appkit-Window-panel-restore.appkit-state-hover,
.appkit-Window-panel-min.appkit-state-hover,
.appkit-Window-panel-max.appkit-state-hover {
    background-color: window_button_hover_color;
}

.appkit-Window-panel-restore.appkit-state-hover:after,
.appkit-Window-panel-restore.appkit-state-hover:before,
.appkit-Window-panel-min.appkit-state-hover:after,
.appkit-Window-panel-max.appkit-state-hover:after {

}

.appkit-Window-panel-close.appkit-state-active {
    background-color: #b01919 !important;
}

.appkit-Window-panel-restore.appkit-state-active,
.appkit-Window-panel-min.appkit-state-active,
.appkit-Window-panel-max.appkit-state-active {
    background-color: window_button_active_color !important;

}

.appkit-Window-panel-close:after {
    content: '\D7';
    position: absolute;
    left: 50%;
    top: -1px;
    margin-left: -0.4em;
}

.appkit-Window-panel-content {
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    overflow: auto;
    box-sizing: border-box;
}

.appkit-Window-panel-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1000;
}