.appkit-DatePicker {
    min-height: 28px;
    max-height: 28px;
    height: 28px !important;
    min-width: 50px;
    box-sizing: border-box;
    position: relative;
}

@sprite .appkit-DatePicker-toggle {
    gwt-image: "calendarImage";
    other: property;
}

.appkit-DatePicker-toggle {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    border: 1px solid #3c7bc3;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0 3px 3px 0;
    background-size: 14px 14px;
    background-position: center;
    background-color: #4390df;

}

.appkit-DatePicker-toggle.appkit-DatePicker-toggle-active {
    background-color: #377cb9;
}

.appkit-DatePicker.appkit-state-focus .appkit-DatePicker-toggle {
    border-left: 1px solid #1475c2;
}






