.appkit-SplitLayoutPanel {
    width: 100%;
    height: 100%;
}

.appkit-SplitLayoutPanel-VDragger,
.appkit-SplitLayoutPanel-HDragger {

    border: 1px solid #b0b0b0;
    box-sizing: border-box;
    background-color: #f0f0f0;

}

.appkit-SplitLayoutPanel-HDragger {
    cursor: ew-resize;

}

.appkit-SplitLayoutPanel-VDragger {
    cursor: ns-resize;

}

.appkit-SplitLayoutPanel-HDragger.appkit-Splitlayout-east-panel {

    border-top-width: 0;
    border-bottom-width: 0;

}

.appkit-SplitLayoutPanel-HDragger.appkit-Splitlayout-west-panel {
    border-top-width: 0;
    border-bottom-width: 0;
}

.appkit-SplitLayoutPanel-VDragger.appkit-Splitlayout-north-panel {
    border-left-width: 0;
    border-right-width: 0;
}



.appkit-SplitLayoutPanel-VDragger.appkit-Splitlayout-south-panel {
    border-left-width: 0;
    border-right-width: 0;

}